/** @format */
$header-color: #f5f5f5;
$header-border: #ccc;
@import '../../assets/scss/index.scss';

.header {
	height: 60px;
	background-color: $header-color;
	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
	&__top {
		width: 100%;
		height: 100%;
		&-infor {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			.infor__email {
				display: flex;
				align-items: center;
				font-size: 14px;

				&-address {
					padding-right: 20px;
					border-right: 1px solid $header-border;
					margin-right: 20px;
				}
			}
			.infor__option {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				&-icon {
					display: flex;
					align-items: center;
					border-right: 1px solid $header-border;
					padding: 5px 10px;
				}
				.icon {
					font-size: 18px;
					margin: 0 10px;
				}

				&-language {
					padding: 0 20px;
					margin-right: 20px;
					height: 100%;
					border-right: 1px solid $header-border;

					.language__select {
						&-img {
							height: 3rem;
							width: 3rem;
							-o-object-fit: contain;
							object-fit: contain;
							margin-right: 10px;
						}
					}
				}

				&-user {
					display: flex;
					align-items: center;

					.user__loginBtn {
						text-transform: capitalize;
						font-size: 1.7rem;
					}
					.user__infor {
						@include flex-box(center, space-between);

						&-name {
							display: block;
							margin: 0 1.5rem !important;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.home__categories {
	ul {
		border: 1px solid $border-color;
		padding-left: 40px;
		padding-top: 10px;
		margin-bottom: 0;

		li {
			list-style: none;

			a {
				font-size: 16px;
				color: $black;
				line-height: 39px;
				display: block;
			}
		}
	}
}

.home__search {
	overflow: hidden;
	margin-bottom: 20px;
}

.home__search__form {
	width: 80%;
	height: 50px;
	border: 1px solid $border-color;
	position: relative;
	float: left;

	form {
		.home__search__categories {
			width: 20%;
			float: left;
			font-size: 16px;
			color: $black;
			font-weight: 700;
			padding-left: 18px;
			padding-top: 11px;
			position: relative;

			&:after {
				position: absolute;
				right: 0;
				top: 14px;
				height: 20px;
				width: 1px;
				background: $black;
				opacity: 0.1;
				content: '';
			}

			span {
				position: absolute;
				right: 14px;
				top: 14px;
			}
		}

		input {
			width: 70%;
			border: none;
			height: 48px;
			font-size: 16px;
			color: $gray-1;
			padding-left: 20px;

			&::-webkit-input-placeholder {
				color: $gray-1;
			}

			&::-moz-placeholder {
				color: $gray-1;
			}

			&:-ms-input-placeholder {
				color: $gray-1;
			}

			&::-ms-input-placeholder {
				color: $gray-1;
			}

			&::placeholder {
				color: $gray-1;
			}
		}

		button {
			position: absolute;
			width: 20%;
			right: 0;
			top: -1px;
			padding: 10px;
			height: 50px;
		}
	}
}

.home__search__phone {
	float: right;
}

.home__search__phone__icon {
	font-size: 18px;
	color: $primary-color;
	height: 50px;
	width: 50px;
	background: $light-gray;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}

.home__search__phone__text {
	overflow: hidden;

	h5 {
		color: $black;
		font-weight: 700;
		margin-bottom: 5px;
	}

	span {
		font-size: 14px;
		color: $light-black;
	}
}
