@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variable";
$border-input: #1890ff33;
.profile {
    h6 {
        color: $white;
    }
    font-size: 1.7rem;
    h2 {
        padding: 2rem 0;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    line-height: 2;

    &__content {
        &--cart {
            p {
                font-size: 2rem;
                font-weight: 550;
            }
            ul {
                width: 50%;
                list-style: none;
                @include tablet {
                    width: 100%;
                }
                li {
                    cursor: pointer;
                    font-weight: 500;

                    &:hover span {
                        color: $primary-color;
                    }
                }
            }
            .ant-collapse-header {
                padding: unset !important;
                span {
                    font-size: initial;
                    span {
                        padding-left: 1rem;
                    }
                }
            }
        }

        &--info {
            > p {
                font-size: 2rem;
                font-weight: 550;
            }

            &-detail {
                .info__detail-inner {
                    input {
                        width: 100%;
                        border: 0.5px solid $gray;
                        &:focus {
                            border-color: $blue;
                            border-right-width: 1px !important;
                            outline: 0;
                            box-shadow: 0 0 0 2px $border-input;
                        }
                    }
                    padding: 1rem 0;
                    @include flex-box("","");
                    text-align: left;

                    p {
                        width: 50%;
                    }

                    div {
                        width: 50%;
                        @include flex-box("", "");
                        flex-direction: column;
                        gap: 10px;
                        div {
                            width: 100%;
                            @include flex-box("", "");
                        }
                    }
                    .error-message {
                        color: $red;
                    }
                }
                .btn-profile {
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }

    .profile__order {
        padding: 2rem 0 4rem;
        &--title {
            font-size: 1.7rem;
            font-weight: 600;
            padding-bottom: 2rem;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }
        .ant-table-thead {
            .ant-table-cell {
                vertical-align: middle;
                text-align: center;
            }
        }
        .ant-table-cell:first-child {
            width: 20%;
        }
        .name-order {
            text-align: center;
        }

        .ant-table-content{
            img{
                width: 100%;
            }
        }
    }
}
