@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variable";


.backToList{
    margin-top: 2rem;
    display: block;
}

.ant-descriptions-item-container{
    align-items: center;    
 
}

.ant-modal-footer{
    display: none;
}

.admin__listUser {   
    padding: 3rem;
    &--btn {
        padding-bottom: 3rem;
        &-create {
            .admin__listUser--btn-form {
                input {
                    width: 100%;
                    border: 0.5px solid $gray;
                    &:focus {
                        border-color: $blue;
                        border-right-width: 1px !important;
                        outline: 0;
                        box-shadow: 0 0 0 2px $box-shadow-color;
                    }
                }
            }
        }
    }
    input {
        width: 100%;
        border: 0.5px solid $gray;
        &:focus {
            border-color: #40a9ff;
            border-right-width: 1px !important;
            outline: 0;
            box-shadow: 0 0 0 2px $box-shadow-color;
        }
    }
    &--tableNormal {
        table {
            width: 100%;
            overflow-x: auto;
            thead {
                background-color: $gray;
            }
            tr {
                border-bottom: 1px solid $gray;
                border-collapse: collapse;
            }
            td {
                padding: 1rem;
            }
            tbody {
                position: relative;

                tr {
                    td:first-child {
                        padding-left: 1rem;
                    }
                    td {
                        &:nth-child(6) {
                            width: 20%;
                        }
                    }
                }
            }
        }

        .ant-empty {
            @include absolute(0, "", "", 50%);
            @include transform-translate(xy, -50%, 100%);
        }
    }
    &--pagination {
        padding-top: 3rem;
        margin-top:1rem;
        @include flex-box(center,center);
        .pagination{
            &__result{
                margin-bottom: 1rem;
            }
        }
        
    }
}
.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: $color-a-05;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
}
