/** @format */
$text-color: #252525;
$text-white: #fff;
$primary-color: #7fad39;
$white: #ffffff;
$black: #000;
$gray: #e6e6e6;
$light-gray: #f7f7f7;
$light-black: #313131;
$dark-gray: #969696;
$blue: #1b95e0;
$green: #3fb871;
$dark-green: #36a66d;
$light-green-2: #e4f7de;
$bgc-be: #fff8de;
$light-green: #98cb4a;
$orange: #ec7429;
$red: #e30514;
$light-red: #ef3e45;
$beige: #f3daae;
$yellow: #febf01;
$red-orange: #f76d3c;
$purple: #913ccd;
$pink: #f15f74;
$brown: #b88600;
$footer: #f3f6fa;
$gray-1:#b2b2b2;
$yellow:#EDBB0E;
$border-color: #dee2e6;
$primary-font: 'Cairo', sans-serif;
